{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 100
}
