APP_NAME="pocket-core"
BRAND_NAME="Pocket App"
NODE_ENV="local"
PORT=

DB_CLIENT="mysql2"
DB_HOST="mysql2"
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_POOL_MIN=""
DB_POOL_MAX=""

SHOW_APPLICATION_LOGS="true"
SHOW_DATABASE_LOGS="true"

SALT_ROUNDS=""
HASH_SECRET=""

REDIS_HOST=""
REDIS_PORT=""
REDIS_USERNAME=""
